[2015-08-21 07:01] jstrachan opened #3 "create a little README.md file to describe what this project does..."
... no idea, sounds like fun :) something about an Elasticsearch plugin for OpenShift?

[2015-08-21 07:07] jimmidyson commented on #3
Will do soon. It's an experiment to sync up openshift auth policies with search guard ACLs so we can restrict who can see what data in elasticsearch based on openshift authentication.

[2015-08-21 07:13] jstrachan commented on #3
ah cool! that sentence sounds a good enough first cut of a README.md :)

[2015-09-28 17:04] jimmidyson commented on #3
Done!

[2015-09-28 17:04] #3 closed

[2016-02-15 17:17] danbev opened #20 "Question regarding createSearchProperties"
We are using this plugin as port of [origin-aggregated-logging](https://github.com/openshift/origin-aggregated-logging/blob/master/elasticsearch/install.sh#L18) and hitting an issue which I think is related to [createSearchProperties](https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/src/main/java/io/fabric8/elasticsearch/plugin/kibana/KibanaSeed.java#L92) and the [content](h

[2016-02-15 18:22] jcantrill commented on #20
@ewolinetz  I'm assigning to you as I think you worked on the seeding logic for Kibana.  @danbev part of the logic this plugin accomplishes is to rewrite requests and responses from Kibana.  This version of Kibana has no understanding of multi-users which is a feature we are trying to support with OpenShift Origin aggregated logging.

[2016-02-15 20:08] ewolinetz commented on #20
@danbev we would expect ES to update its mappings when data is pushed to it.  If I remember correctly, we originally had `createSearchProperties` to mimic Kibana's initial calls when connecting to ES and one action was to populate this `/search/properties` type/id.  Out of curiosity, what version of Kibana are you using, is it also 4.1.2?

If everything is able to start up correctly without the `c

[2016-02-16 06:07] danbev commented on #20
Thanks for your quick replies!

I've looked into this and if I look at the version specified in package.json on the running container the version is:
[code]
Inspecting Settings -> About in the Kibana console shows:
[code]

Looking at the [Dockerfile](https://github.com/openshift/origin-aggregated-logging/blob/master/kibana/Dockerfile#L19) is says ```4.1.1```. I didlook into this previously as I th

[2016-02-17 13:26] danbev commented on #20
@jcantrill @ewolinetz I added a PR just to show the update that we have been using the last couple of days. I've been saving searches and using them in dashboards, exporting them and a colleague imported them successfully (also using the same changes). Let me know if there is anything specific you'd like me to try out or test.

Would it be possible to get a patch release for version 0.7 to maven c

[2016-02-17 13:46] jcantrill commented on #20
@danbev once merged its a matter of pushing the release button :)

[2016-02-17 13:47] danbev commented on #20
@jcantrill excellent! :)

[2016-02-17 15:42] ewolinetz commented on #20
@danbev sorry for the delay, I'll be able to get around to verifying this today.  If I do find it to be valid I'll make the changes as part of our next release

[2016-02-17 18:42] danbev commented on #20
@ewolinetz No problems, I really appreciate you taking a look at this so quickly.

If you do find it valid I would like to ask if it would be possible to patch the 0.7 version?
The reason for asking is that 0.7 is the version we are currently using and our product is going to be released in the near future. If we had say a 0.7.1 version, we are going to see if is possible to get a tag/branch of [o

[2016-02-17 20:09] ewolinetz commented on #20
@jcantrill thoughts on the above?

I was able to recreate this issue.  However I'm also seeing that we aren't setting the default index right away for users, so I'm going to see if the proposed change will resolve what I'm seeing as well...

[2016-02-17 21:36] ewolinetz commented on #20
The issue I was experiencing was due to a missing ES configuration; the removal of the `search` type seeding seems to cause no regression.  I'll get this ready for our next release with a planned tech-debt task and discuss cutting a .7.1 release with this change as well

[2016-02-17 21:47] ewolinetz commented on #20
@danbev would you be opposed to using a `.9` release? To release a `.7.1` we would have to change the current strategy for maintaining branches.

@jimmidyson thoughts?

[2016-02-17 21:57] ewolinetz commented on #20
.9 proposed changes are in #22

[2016-02-17 21:59] jcantrill commented on #20
@jimmidyson we have a CI process that magically deploys, etc.  Can you advise how we might manually publish a 0.7.1 without needing to set up an additional CI chain

[2016-02-17 22:27] jimmidyson commented on #20
Setting up a release build is simple enough - duplicate release build, change source branch (I hope you have a maintenance branch for this release?). I'm on vacation right now but @rawlingsj or @jstrachan might be able to help out with that hopefully?

[2016-02-18 06:32] danbev commented on #20
That should not be a problem. I'll try out #22 and just double check that are things work for us.

[2016-02-18 07:41] danbev commented on #20
@ewolinetz @jcantrill I've tried out #22 and everything works as expected for us. I was able to save searches, import searches, visualisation, and dashboards saved with the previous version with out any issues :)

[2016-02-18 13:47] jcantrill commented on #20
@ewolinetz We will need to branch if we are going to create a maintenance release.  @jstrachan is there a way to manually publish over creating a CI chain.  I don't see the value in maintaining a chain for this point release, but that would be fine if that's what you guys would prefer; its sits on the fabric8 infrastructure.

[2016-02-18 15:05] ewolinetz commented on #20
@jcantrill I think at this time we won't need to do a maintenance release since @danbev is good with using a .9 release.

[2016-05-11 21:01] ewolinetz commented on #20
This was fixed with #22

[2016-05-11 21:01] #20 closed

[2016-05-12 04:38] danbev commented on #20
@jcantrill @ewolinetz Thanks guys!

[2016-07-13 15:21] ewolinetz opened #27 "Add ability to configure 'operations' projects within config"
With the recent addition of 'kube-system' we should be able to configure what is a 'operations' project with the configuration.

[2016-08-08 16:47] ewolinetz commented on #27
this has been merged in

[2016-08-08 16:47] #27 closed

[2016-08-08 16:48] ewolinetz opened #30 "Update README for the ES 2.3.x, SG-2 and SG-SSL changes"

[2016-08-10 20:29] #30 closed

[2016-09-07 20:16] ewolinetz opened #39 "Clusters that take a while to recover or can't recover past red may not initialize"
https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/src/main/java/io/fabric8/elasticsearch/plugin/acl/DynamicACLFilter.java#L357

This line may prevent us from ever initializing the Searchguard config.  We should ensure the cluster is up and active at least, we may not need/want to necessarily wait until yellow to start seeding.

We should, however, ensure that the index we cre

[2016-09-08 15:39] ewolinetz commented on #39
Can recreate this by deleting crucial index files while ES is down, forcing that index to not recover fully.

[code]

[2016-09-28 14:10] ewolinetz opened #42 "Allow Cluster Reader to have access to the .all alias and .operations index"
We should allow users the ability to configure their plugin to determine if just `cluster-admin` or `cluster-reader` as well, can see the infrastructure logs.

[2016-10-07 17:28] richm opened #46 "Access allows users to see indices in other projects"
For example, a user in the `test` project can view `logging.*` indices.

[2016-10-07 21:19] richm commented on #46
Fixed by https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/47

[2016-10-07 21:19] #46 closed

[2016-10-07 21:20] ewolinetz commented on #46
Will need to request kicking off a deployment build so this can be consumed by origin.

[2016-10-07 21:23] richm commented on #46
@ewolinetz ok - would like to get https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/44 into a build as well

[2016-10-17 14:47] jcantrill opened #49 "Read index-pattern data from files rather than hardcoded constants"
as mentioned in #48

[2016-10-17 16:22] richm commented on #49
The kibana index-pattern data is a single line, several thousand byte JSON blob hardcoded into constant strings in the DocumentBuilder class.  Instead, we should read this data from JSON or YAML files.  viaq can generate the elasticsearch index templates as json or yaml files - it could also generate the corresponding kibana index-pattern data and other config data.  https://github.com/ViaQ/elasti

[2016-10-18 01:11] richm commented on #49
Partially addressed by https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/51 - if using elasticsearch index templates, kibana index patterns are not needed

[2016-10-19 14:25] #42 closed

[2016-10-26 18:49] jcantrill opened #52 "User cache should include token to verify the remote user and token are matched"
This stems from a request against the 1.X version of the logging setup: http://post-office.corp.redhat.com/archives/openshift-sme/2016-October/msg01163.html but I suspect it applies to the 2.x version as well.

Summary of message:
- Allow users to access ES directly
- Require query to be restricted to same access controls

Analysis from @sosiouxme shows that if the client-certs are leaked:
- A use

[2016-10-26 19:18] sosiouxme commented on #52
Sounds about right. So I would suggest we actually stop looking at the username header at all, as it's redundant. I don't recall the historical reason for it, so we may find out there was some real need for it. But what should happen when a request comes in with a token is that the plugin

1. checks its cached tokens to see if it already knows this user (if so, it gives back username; proceed with

[2016-10-26 19:32] jcantrill commented on #52
@sosiouxme We look at the username header to reuse the ACL checking that searchguard provides.  I believe it uses the remote proxy header to match against its ACL to determine if you are allowed to see a specific index.

[2016-10-28 16:06] ewolinetz commented on #52
The username header has actually become more important recently since it is used with the clusterrole lookup. We still use the token to generate the ACL (by determining the user's access), the clusterrole lookup is done using the Elasticsearch SA, we then check the user list for 'cluster-admins' and/or 'cluster-readers' given the user token.

[2017-02-22 18:05] jcantrill opened #62 "Lazyload EsClient"
Lazy load the esClient to mute stacks like:

[code]

[2017-02-22 18:05] jcantrill commented on #62
cc @ewolinetz @richm

[2017-02-23 16:24] jcantrill opened #63 "Make Kibana Index Patterns externally configurable"
Modify plugin to allow the patterns to be externally loadable.

https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/src/main/java/io/fabric8/elasticsearch/plugin/kibana/DocumentBuilder.java#L22

* Move constant to external file
* Figure out how a user could provide a pointer to a file to load instead.

[2017-02-24 13:50] jcantrill opened #64 "Squash stack on MasterNotDiscoveredException"
I wonder if there is something we can do here to squash the stack from our code.  Maybe some check to wait to apply what we desire until things are ready.  It could be we are too early to try.
[code]

[2017-02-27 15:27] jcantrill commented on #62
@ewolinetz @richm  Re-evaluating my desire to lazy load this stack.  I see in our initialization we add in the SearchGuard plugins.   Is there any belief that we open up the cluster to NOT use SG for a small window during startup?

[2017-02-28 14:18] jcantrill commented on #49
Closing as will be fixed by #65

[2017-02-28 14:18] #49 closed

[2017-02-28 22:11] #63 closed

[2017-02-28 22:15] #62 closed

[2017-03-02 20:13] richm commented on #52
Fixed by https://github.com/fabric8io/openshift-elasticsearch-plugin/commit/8abaeedfd69d0be1bdbefa9078a6c9cec2f42a48

[2017-03-02 20:13] #52 closed

[2017-03-06 15:29] ewolinetz commented on #39
IIRC this has been resolved by #40

[2017-03-06 15:29] #39 closed

[2017-03-21 17:46] jcantrill opened #69 "Seed Initial Dashboard only once"
We seed the dashboard everytime we update the user in-memory cache:

https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/src/main/java/io/fabric8/elasticsearch/plugin/acl/DynamicACLFilter.java#L269

Which means we will try to do this everytime the cache expires and a user comes back in.  Seems like that might have some unintended expectations for the user.

[2017-03-21 17:46] jcantrill commented on #69
cc @portante @richm @ewolinetz

[2017-03-21 18:16] portante commented on #69
@jcantrill, yes, that seems like a bad thing to do.

So we need to seed them when we first encounter the user, but once created, we should not be rebuilding them.

Also, we need a story for reaping users that have been removed.

[2017-03-21 20:12] ewolinetz commented on #69
IIRC the reason we did this was to ensure that we always had the correct projects available to the user in cases where access was added/removed

[2017-04-26 21:02] enj opened #72 "Invalid method for determining the user's permissions"
The [isOperationsUser](https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/7291d132c3464610921f93d3a8c96453001d6bfd/src/main/java/io/fabric8/elasticsearch/plugin/acl/DynamicACLFilter.java#L278-L296) method incorrectly assumes that a user must be directly bound to `cluster-admins` or `cluster-readers` to see the logs.  This is incorrect in two scenarios:

1. The user has rights due to

[2017-04-26 21:07] enj commented on #72
cc @deads2k @liggitt @smarterclayton in case you guys have any opinions.

[2017-04-26 21:59] ewolinetz commented on #72
This is only specific to a user seeing the logs in the `.operations` index. Any normal application logs is allowed based on the user having access to a namespace. E.g. if `oc get projects` would return something (so long as it isn't rolled into the `.operations` index) they would have access to it.

[2017-04-26 22:18] enj commented on #72
@ewolinetz We have multiple instances of customers who are trying to see those specific logs but are failing to do so because they belong to a group that grants them cluster admin privileges instead of being directly bound to the role.

[2017-04-27 13:45] niconosenzo commented on #72
I just opened BZ  [1446217](https://bugzilla.redhat.com/show_bug.cgi?id=1446217) for this.

[2017-04-27 18:15] jcantrill commented on #72
@ewolinetz  Maybe we should do SAR for viewing on all 'operations' namespaces and determine ops user on being able to view them all.  I think we have a list in the plugin that is configurable.

[2017-04-27 18:46] deads2k commented on #72
If this is about viewing logs, it may be more appropriate to look for the power to get pods/logs across all namespaces  or the one you're interested in.

[2017-04-27 18:47] liggitt commented on #72
I think the second SAR is almost right, but should be checking a `get` verb

[2017-05-04 20:25] jcantrill opened #74 "Refactor SAR use to use ApiGroups version"
https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/73#discussion_r114876250

[2017-05-05 17:37] #72 closed

[2017-05-11 20:23] portante opened #75 "Use @timestamp instead of time field"
The external kibana index pattern `.json` files make reference to the non-existent field "`time`" instead of the proper field "`@timestamp`".

It also appears that the jar file does not contain these `.json` files.

[2017-05-13 21:05] #75 closed

[2017-05-15 14:25] jcantrill opened #78 "Embed SG, and SGSSL as part of this plugin"
**Motivation**
During refactoring to try and resolve the transient failure that occurs when we build a TransportClient, I was able to have a NodeClient  injected as a dependency.  This client was usable for all the calls we require except notifying the SG BackendRegistry that we made a configuration change.  The error was a CastClassException of the request that I believe is related to the plugins

[2017-05-15 14:26] jcantrill commented on #78
cc @richm @ewolinetz @portante @sosiouxme

[2017-05-15 14:30] richm commented on #78
What does it mean to have SG and SGSSL as part of the openshift-elasticsearch-plugin?  Do we add them as sources, and build them from source when we build OEP?  Do we include them as jar dependencies in the pom.xml?

We only need to do this in order to notify the SG BackendRegistry?  For no other reason?  That is, everything else we need to do, we can do without embedding SG?

[2017-05-15 14:34] portante commented on #78
So if somebody invokes the sgadmin utility, how does the sg plugin get notified? And is that notification process different than what this plugin does?

[2017-05-15 14:40] jcantrill commented on #78
Each plugin has a 'boot' class which ES uses to register the modules and services provided by the plugin.  We already declare the jars as dependencies: https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/pom.xml#L115.  This proposal would take that further in we would also offer the SG services and modules as part of what we provide when our plugin loads (See https://github.com

[2017-05-15 14:47] richm commented on #78
I wonder if there is some really hacky way around this.  For example, does Java let you declare/import classes at runtime?  That is, we could lazy load `com.floragunn.ConfigUpdateRequest` just before we use it - perhaps that would allow us to get it from the right class loader?  Or maybe there are some ugly hacks we could do with the class loaders, and somehow find the right class loader, and load

[2017-05-15 14:51] jcantrill commented on #78
@richm There is no lazy loading, though maybe we could not package the lib with our plugin since we know we always need to operate with the dependent plugin.  I suspect, however, we would get a NoClassDefFound problem (e.g. available at compile but not runtime).  There is also a possibility we could use the reflection API to make calls but that would also most likely lead to a NoClassDefFound.

[2017-05-26 15:19] jcantrill commented on #78
fixed by #77

[2017-05-26 15:19] #78 closed

[2017-06-01 11:57] #64 closed

[2017-06-01 12:00] jcantrill opened #81 "Why do we have empty project template"
I'm in the process of trying to resolve [1] which is a data exception that becomes visible to users because there is mapping template for which there are no indexes.  I believe we did this in order to provide users with a default pattern when they first visited Kibana.  Can anyone confirm?  I feel like this is as confusing as needing to set up an index pattern and was wondering:

1. Should we remo

[2017-06-01 12:01] jcantrill commented on #81
cc @ewolinetz @richm @portante

[2017-06-16 20:41] jcantrill opened #87 "Unable to seed admin all alias"
Looks like we need an additional value set on the context possibly.  From SearchGuardFilter->HeaderHelper:

`
"direct".equals(request.getFromContext(ConfigConstants.SG_CHANNEL_TYPE)) || request.remoteAddress() == null
`

[code]

[2017-06-29 07:27] lukas-vlcek opened #90 "How to run HttpsProxyClientCertAuthenticatorIntegrationTest ?"
Is there any documentation about how to successfully run [HttpsProxyClientCertAuthenticatorIntegrationTest.java](https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/cbf1152c9be195cb854aa431c136fe71ca362b08/src/test/java/io/fabric8/elasticsearch/plugin/HttpsProxyClientCertAuthenticatorIntegrationTest.java)?

By default it is [excluded](https://github.com/fabric8io/openshift-elasticsear

[2017-06-29 07:29] lukas-vlcek commented on #90
Also I would like to introduce travis tests for this plugin and I would love to see IT be part of this.

[2017-07-06 21:45] ewolinetz commented on #90
It seems like for that test to work it'll require some data to be inserted first. I wonder if that should instead be rewritten with mocks so we don't need to be running an actual instance of ES to verify that auth works.

[2017-07-06 22:19] richm commented on #90
I think we should have both - unit tests that use mock, and integration tests that use actual ES

[2017-07-13 01:35] iloayuil opened #91 "ElasticsearchSecurityException"

[2017-07-13 01:35] iloayuil opened #92 "What does ElasticsearchSecurityException"

[2017-07-13 01:39] iloayuil opened #93 "What does "ElasticsearchSecurityException" mean?"
My ES doesn't work, and here the error information:

[2017-07-11 06:02:40,805][ERROR][io.fabric8.elasticsearch.plugin.kibana.KibanaSeed] Error executing Alias request
ElasticsearchSecurityException[unauthenticated request indices:admin/aliases for user User [name=_sg_internal, roles=[]]]
	at com.floragunn.searchguard.filter.SearchGuardFilter.apply(SearchGuardFilter.java:145)
	at org.elasticsearch.

[2017-07-13 12:11] jcantrill commented on #93
Closing in favor of #87

[2017-07-13 12:13] jcantrill commented on #87
@iloayuil  It's a bug in the code but I have not seen it adversely affecting the logging stack other than being a nuisance.  @richm Could you point him to the info about muting the stack via configuration

[2017-07-13 16:09] richm commented on #87
@iloayuil see https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging_elasticsearch/templates/elasticsearch-logging.yml.j2#L39 for an example of how to configure elasticsearch logging to suppress a specific error message

[2017-07-14 06:40] iloayuil commented on #87
@richm thanks, but I have replaced the openshift-ansible version, the version I am using is 3.6.142-1, and everything works fine.

[2017-07-14 06:41] #93 closed

[2017-07-19 17:50] richm commented on #87
@iloayuil ok - can we close this issue?

[2017-09-01 11:10] lukas-vlcek opened #99 "Can we get 2.4.4.12 published into Maven central?"
We don't seem to have the latest version published in Maven central, see:
[https://search.maven.org/#search|ga|1|a:"openshift-elasticsearch-plugin"](https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22openshift-elasticsearch-plugin%22)

[2017-09-01 11:30] lukas-vlcek commented on #99
Also I think **we are getting errors in our CI jobs** due to this. See:

[code]
//cc @jcantrill @richm

[2017-09-01 13:03] jcantrill commented on #99
The CI job to release the plugin is broken and I have been unable to get in touch with @jimmidyson or @jstrachan to assist in fixing.  We also have no way to push manually.

[2017-09-01 18:16] richm commented on #99
Closing since we are planning to release 2.4.4.13

[2017-09-01 18:16] #99 closed

[2017-09-27 20:35] jcantrill opened #103 "Null pointer of role does not have 'indices' defined"
[code]
for document like:

[code]

[2017-10-03 18:08] jcantrill opened #104 "Unable to create initial Kibana index"
Error occurs if Kibana never is started in the env and never creates the `.kibana` index
[code]

[2017-10-09 19:02] jcantrill opened #106 "Admin user 'operation' index error"
Admin user where operation index does not exist will error
[code]

[2017-10-10 13:44] lukas-vlcek commented on #90
Closing, we now have both unit and integration tests.
See https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/105

[2017-10-10 13:44] #90 closed

[2018-01-04 01:27] ttindell2 opened #116 "Add Support for Sentinl"
Hi!

I was looking into adding Sentinl plugin into Kibana to allow Tenants to create alerts based on the namespaces logs that are in Elasticsearch. How would I add the indexes (watchers) that Sentinl creates in Elasticsearch to the openshift plugin so that its entries would also support multi-tenancy?? Sentinl does support Searchguard.

Sentinl:

https://github.com/sirensolutions/sentinl

[2018-01-12 18:44] jcantrill opened #117 "Ops user in kibana mode of unique does not have a rolemapping to their unique kibana index"

[2018-02-15 10:41] lukas-vlcek opened #122 "Remove .all alias creation in Kibana seed logic"
After [index templates from 0.0.13 release](https://github.com/ViaQ/elasticsearch-templates/tree/0.0.13) are brought in we should remove this line from [KibanaSeed.java](https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/506b7a25cafc9f266becbbbe4d3bb8de75672442/src/main/java/io/fabric8/elasticsearch/plugin/kibana/KibanaSeed.java#L108):

[code]

[2018-03-19 20:08] jcantrill opened #124 "Regression Fixes"
This issue is to track open issues that need to be in 2.x and 5.x

|2.x | 5.x | Description|
|-----|-----|----------|
|https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/125 |~~https://github.com/jcantrill/openshift-elasticsearch-plugin/pull/3~~ | #104 Return gracefully when failed seeding of Kibana index |
|[x] | ~~https://github.com/jcantrill/openshift-elasticsearch-plugin/pull/1~~

[2018-04-03 01:01] #122 closed

[2018-04-03 20:11] #104 closed

[2018-04-30 18:51] SvitlanaShepitsena opened #130 "Can anybody help me?"
Hi fabric8,
I was trying to set the plugin.... but I am not very successful. Here is my repository with docker
https://github.com/SvitlanaShepitsena/Lana

 and here is my question on stackoverflow
https://stackoverflow.com/questions/50106409/setting-up-kibana-multitenancy-with-safeguard-and-openshift

Please... :-)

[2018-05-02 00:43] #124 closed

[2018-05-02 00:47] jcantrill commented on #103
fixed in #118 for ES5

[2018-05-02 00:47] #103 closed

[2018-05-02 00:48] jcantrill commented on #69
Closing this issue as we have made various changes to better handle seeding

[2018-05-02 00:48] #69 closed

[2018-05-02 00:49] #81 closed

[2018-05-02 00:50] jcantrill commented on #87
Closing as later versions no longer attempt to seed the .all alias

[2018-05-02 00:50] #87 closed

[2018-05-02 01:15] jcantrill opened #133 "Rethink empty response to users"
We currently intercept certain responses for cases where:

* the time range is off
* no indices exist

We message the user by generating a custom message which produces a stack.  We should consider returning a 200 response with an empty result set though I don't know if we can notify the user.  I think this is the only way to avoid the following stacks:
@ewolinetz @richm @portante Thoughts?
[code]

[2018-05-02 02:16] richm commented on #133
We need to notify the user that the result set is empty, and we need to suppress the stacktrace.

[2018-05-17 18:54] #130 closed

[2018-05-25 17:27] jcantrill opened #135 "Deleting an index-pattern in Kibana causes a 409 response"
Deleting an index-pattern in Kibana causes it to blowup and a 409 is returned for at least v5.6.9

[2018-06-26 15:41] ewolinetz opened #139 "File auth backend should not be in cleartext"
Currently, file auth uses base64 encoded files. We should be able to encrypt these files instead of using clear text.

[2018-06-27 02:31] jcantrill commented on #139
Can you be more specific where the encryption is needed.  I believe its pretty standard for the username/password to be received as base64 encoded.  Additionally, I would expect the file to be mounted as a secret which is already base64 encoded and behind other Openshift security measures.  Is there a usercase we are missing to address a customer or security need?

[2018-06-27 03:19] richm commented on #139
I guess I'm wondering why we need this password backend at all.  We should either use the searchguard password auth backend, or do the auth in the oauth-proxy.
Passwords are typically stored as base64 encoded _hashes_ e.g. sha512, then base64 encode the sha512 value.  A base64 encoded password is virtually cleartext.

[2018-06-28 12:58] jcantrill commented on #139
This backend only exists because the default SG version is unable to handle Openshift service accounts which are in the form of `system:serviceaccount:namespace:name` or something to that effect.  Requests are generally encoded with the username/password as 'username:password'.  The default implementation splits on the first ':' which does not work for service accounts

This only exists for metric

[2018-06-28 18:59] jcantrill opened #142 "Better handle generated index-patterns"
When a user is granted admin and then having it removed, if they log into Kibana between these changes, the 'project.*' and '.orphaphed' index-patterns are not removed for them.

[2018-07-19 15:54] rhnewtron opened #149 "Support Write Access to Index"
I try to use the Openshit integrated EFK stack as central logging platform for both:

  a) Openshift containerized Workloads
  b) External Cloud Native Workload (e.g. Databases)

From looking at the config of the search-guard config, it seems that there is no way to provide write access for anythin except the fluentd client (which has write access for ALL indexes). It would be great if I could som

[2018-07-19 15:59] richm commented on #149
How would you authenticate from the log collector (fluentd, logstash) to elasticsearch?  Using a serviceaccount implies using the serviceaccount token which does not work afaik.

[2018-07-19 16:04] rhnewtron commented on #149
For Read access this seems to work.

[code]

[2018-07-19 16:15] rhnewtron commented on #149
Service principal with Token through the openshift-auth-proxy would be great, because I could go through the "router" (which is an exposure option already"). Using SSL certificate, would only allow going through the Kubernetes Service, meaning I have to connect the logging namespace in the multitenant-sdn with a lot of namespaces. I can not oversee the security implications of this (maybe some uns

[2018-07-19 16:35] richm commented on #149
No, I think that should do it.

How would you configure fluentd and/or logstash to do that?

[2018-07-19 17:03] rhnewtron commented on #149
High Level:
I would probably run the logstash as a container in some namespace, assign it some form of serviceAccountName that has the proper permissions to write to the logs (e.g. logwriter). And the pod would then read the token from /var/run/secrets/kubernetes.io/serviceaccount/token and use that for the connection to the backend through the route .

However lots of questions are unanswered.

-

[2018-07-19 17:32] jcantrill commented on #149
@rhnewtron @richm You could configure SA as described because we require you to provide a token from which we determine your name that is in the rolesmapping.  You can do this now if you extract the configs to a configmap and mount them back into the ES pod

[2018-07-19 17:33] richm commented on #149
Right - but my question is - how do I configure the fluentd elasticsearch plugin or the logstash elasticsearch plugin do to token auth?  e.g. to configure the fluentd elasticsearch plugin for client cert auth I set the client_cert and client_key parameters.

[2018-07-19 17:33] jcantrill commented on #149
@rhnewtron @richm My preference here I would think is to push this into the ACL configs that elasticsearch loads on start.  That modification would be easier and more broadly configurable.

[2018-07-19 17:35] jcantrill commented on #149
This plugin is mostly about dynamic role and rolemapping generation.  The scenario described is a static configuration in my opinion best handled as suggested in https://github.com/fabric8io/openshift-elasticsearch-plugin/issues/149#issuecomment-406355367 which maybe we could facilitate in the run script

[2018-07-19 18:21] rhnewtron commented on #149
@richm Right, from looking at the fluentd and logstash elasticsearch output plugin's, they do not seem to support Authorization Headers, so this would probably be another issue to address in the other projects :/

[2018-07-19 18:29] rhnewtron commented on #149
@jcantrill
I'm a little confused. Is'nt the config created dynamically by this plugin "when I first access elasticsearch" ? So if I make a static config out of this dynamic one, don't I break the semantics of Openshift Origin ?

Ot does it work like this:

LiveConfig = Static (/opt/app-root/src/sgconfig/sg_roles_mapping.yml) + dynamic generated part ?

Still the question is this "supported" by Ope

[2018-07-19 19:42] rhnewtron commented on #149
@jcantrill .. I played around. It seems that this: https://github.com/openshift/origin-aggregated-logging/blob/master/elasticsearch/run.sh#L84-L88 + the read only nature of config maps, kills the idea of just mapping the config map. I now have to use an init container :(

[2018-07-19 20:14] jcantrill commented on #149
@rhnewtron How is it you are able to use an init container given it runs before elasticstarts up.   I'm not sure why you cant use a configmap given you could just extract the configs and then mount the entire dir with the configs and acls back into the dc

[2018-07-20 04:50] rhnewtron commented on #149
@jcantrill It seems that the lines https://github.com/openshift/origin-aggregated-logging/blob/master/elasticsearch/run.sh#L84-L88 try to attach the prometheus ID to the config file sg_role_mapping.yml. If I now provide the file via config map volume mount, the startup script can not modify the configmap, as they are read-only by nature.

So my solution was:

- reate a "emptyDir{}" volume for /opt

[2018-07-20 17:12] rhnewtron commented on #149
It seems the ES output plugin supports custom headers (e.g. Bearer Token):
https://www.elastic.co/guide/en/logstash/current/plugins-outputs-elasticsearch.html#plugins-outputs-elasticsearch-custom_headers

[2018-07-22 07:41] rhnewtron commented on #149
Actually I got this working with logstash with both SSL and Token auth. In both cases I need to modify the SearchGuard configuration. Unfortunately it is not as simple as moving the configs to a configmap and then load it when changed with sgadmin.sh.

As the start skript of Elasticsearch in Openshift modifies the sg_role_mapping.yml in place, and config maps are not writable, I need to work with

[2018-08-01 18:31] jcantrill opened #153 "Fix code to handle assertions"
We currently have assertions disabled because Elasticsearch doesnt like executing blocking tasks on network threads.  Need to fix that for production

[2018-08-03 13:56] jcantrill opened #155 "Kibana Index mode not properly reflected in permissions"
We advertise permissions for the kibana index mode as:

[code]
but we currently do not generate those permission that reflect this feature.  Following is an example for and operations user while set to unique. I would expect a role like 'gen_kibana_SOMEHASH':
[code]

[2018-08-07 23:34] jcantrill commented on #74
fixed by #151

[2018-08-07 23:34] #74 closed

[2018-08-15 23:57] #155 closed

[2018-08-15 23:57] #117 closed

[2018-10-16 00:59] #135 closed

[2018-11-28 15:33] jcantrill opened #163 "Failed to submit a listener notification task. Event loop shut down?"
[code]

[2018-11-28 15:45] jcantrill opened #164 "Supress? `Exception while syncing ACL to Elasticsearch`"
Is this a log message we can or should suppress?
[code]

[2018-11-28 21:19] jcantrill opened #165 "java.lang.NoClassDefFoundError: org/apache/lucene/index/IndexReader$ReaderClosedListener"
@lukas-vlcek Thoughts?  I have updates for 6.x here https://github.com/jcantrill/openshift-elasticsearch-plugin/tree/6.x but the integration tests dont even start due to which is missing from the version of the dependency.  I cant seem to figure out the problem.  Maybe its my version of maven?
[code]

[2018-11-28 22:20] jcantrill commented on #165
@lukas-vlcek closer by fixing up the pom but still getting:

[code]

[2018-12-13 09:18] barkbay opened #167 "Dead code with side effect in test OpenshiftAPIServiceTest"
It looks like there is some dead code [here](https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/src/test/java/io/fabric8/elasticsearch/plugin/OpenshiftAPIServiceTest.java#L62) :

[code]

`System.getProperty("project.basedir")` always returns `null` and the system property `kubernetes.keystore.file` is always set to `null/src/it/resources/keystore.jks`
Please also note that tes

[2018-12-13 09:19] barkbay commented on #167
This issue blocks #111

[2019-01-24 01:22] bysnupy opened #168 "We should create custom role in order to allow read only permission .operations index to users."
* Version:
[code]

* Description:
  `.operations` index can be referred by just only `cluster-admin` role, is it expected result ?

  In order to access from other user to `.operations` index, we should create custom role.
  It would be hurdle to allow read only access to user for operation role account in real world.
  I think it had better to replace the `view` verb with `watch` verb, because  b

[2019-01-24 01:48] richm commented on #168
Yes, or cluster-reader

[2019-01-24 02:07] bysnupy commented on #168
Thank you for your swift response @richm,
But `cluster-reader` has not `view` verb of `pods/log` permission, and it did not work for me to access `.operations` index using `kibana` dashboard.

The evidence of test based on CLI is as follows.

[code]

[2019-01-24 14:13] bysnupy commented on #168
I've verified the workaround that create the custom role included `view` of `pods/log` permission.
And I could access `.operations` index from `Kibana` dashboard after grant of the custom role.

My test evidence is as follows.
[code]

[2019-01-24 14:39] jcantrill commented on #168
I'm not sure what your expectation is here as you have identified what you, as an administrator, needs to do in order to grant someone access to those logs.  This plugin enables viewing the logs based on a set of permissions that a particular user has. This plugin is not responsible for creating those permissions or the Role required; that is your responsibility as an administrator.  We can not ma

[2019-01-24 14:39] #168 closed

[2019-01-25 03:02] bysnupy commented on #168
Thank you for your review @jcantrill ,

I've found the `cluster-reader` can access to `.operations` index from the following BZs, but it couldn't access the index(refer above my comments). `view` verb was not included the bootstrapping builtin `roles` definitions. So I'd like to check it here.
And I want to replace the `view` verb with `watch` verb if no reasons not to change it.

* [openshift_log

[2019-04-10 10:43] Gallardot opened #172 "OpenshiftAPIService use cache"
If openshiftAPIService use cache, then we can reduce access to openshift.

We access to openshift for three things:

1.get username by token
2.get projects by token
3.check  the SAR is satisfied

We don't think they will change frequently, so we can cache it.

Entries in "the cache" should expire after O(minute)，so we can use the same as  "ACLExpiresInMillis"

[2019-04-10 11:19] Gallardot opened #173 "use searchguard's BackendRegistry userCache"
searchguard's BackendRegistry cache User Info by AuthCredentials
Cache are defined as follows:
[code]

and the AuthCredentials's equals method as follows

[code]

The internalPasswordHash  is converted from password.If we want the cache to take effect, the password cannot be empty.so method `extractCredentials` in the  `OpenShiftTokenAuthentication` should return a AuthCredentials with a password.

[2019-04-10 13:58] richm commented on #172
Are you having problems with excessive openshift api usage, or Elasticsearch performance?  If so, what do you use openshift-elasticsearch-plugin for?

Is this an openshift setting?

[2019-04-10 15:12] Gallardot commented on #172
We use openshift-elasticsearch-plugin in the [openshift-elasticsearch-plugin](https://github.com/openshift/origin-aggregated-logging) project on an openshift cluster.About 100 developer use kibana to search project logs in our cluster everyday.Access ES directly performance is OK.But use kibana to Access ES performance is not so good.So I want to optimize the searchguard or the openshift-elasticse

[2019-04-10 18:19] jcantrill commented on #172
@Gallardot This plugin used to have a cache mechanism which caused numerous issues because of its design.  We removed it under the assumption that use of Elasticsearch was significantly more write intensive then query.  I have no issues re-implementing the cache to save the api hits you identify.

I am not certain you will be able to make use of the SG cache as identifed in https://github.com/fabr

[2019-04-11 07:10] Gallardot commented on #173
If we don't do this, the user will alaways miss cached.
[code]

[2019-04-11 07:25] Gallardot commented on #172
@jcantrill

I agree with you. But sometimes it depends on the situation.

some log from our cluster.

[code]

openshift-elasticsearch-plugin access to openshift for three things:

1.get username by token
2.get projects by token
3.check the SAR is satisfied

It takes about 200 milliseconds to do the above work. But we takes only 200 milliseconds to access  Elasticsearch  directly.

[2019-04-11 07:42] Gallardot opened #174 "Why ACLDocumentManager need to sync the ACL to ElasticSearch on every search request?"
- Version:

[code]

In our scenario:
- The index scenario:
We only use  fluentd to collect logs. Fluentd will write log into the ElasticSearch with certificate. I think this is not going through openshift-elasticsearch-plugin . Is that right？

- The query scenario:
The user accesses ElasticSearch through Kibana.I think this is going through openshift-elasticsearch-plugin.This plugin  synchronizes

[2019-04-11 17:53] jcantrill commented on #174
@Gallardot already answered your question: https://github.com/fabric8io/openshift-elasticsearch-plugin/issues/172#issuecomment-481805127   This is the only reason

[2019-04-11 17:58] jcantrill commented on #174
Any request that includes a bearer token performs, as you noted, three requests(possibly more) against the API server.  Fluent utilizes certificates; the request does not send a token so these requests are not made.  The **ONLY** reason ACLs are synced everytime is because we removed caching because of inconsistent behavior reported by users when we did have caching.  It's likely it worked as expe

[2019-04-11 17:58] #174 closed

[2019-04-11 18:02] jcantrill commented on #173
It is unlikely we can depend on SG caching as it  relies on usernames to represent users and permissions.  We do some trickery to perform logic with a request, defer to SG, and then additional logic after the request.  User's are represented as tokens in Openshift which must be 'converted' to a username before alllowing SG to evaluate a user.  We can only guarantee token maps to a given username i

[2019-04-11 18:03] jcantrill commented on #172
Closing this issue.  I don't understand why we need three to track fundamentally the same thing.

[2019-04-11 18:03] #172 closed

[2019-04-11 18:04] jcantrill commented on #167
@barkbay please feel free to submit a pull request.

[2019-04-12 07:18] Gallardot commented on #173
@jcantrill

Thank you for solving my problem.

But we still want to solve the problem of inconsistency.

I have a idea.Because synchronizing acl to elasticsearch takes a lot of time.On the elasticsearch's master node, start a timed task to synchronize all users' acls to elasticsearch. In this task, we need to deal with three things：
1.    add new user’s ACL,ROLE map,project ect.
2.    update old u

[2019-04-12 13:36] jcantrill commented on #173
You would need to look at the SG logic to determine from where it evaluates its permissions; I don't recall off hand.  I believe it depends upon an in-memory representation of what is in store that is updated when it receives a callback notification.  I believe the only way to update it's in-memory reference is by storing and notifying.

SG relies upon the user that is in context to evaluate permi

[2019-04-15 09:16] Gallardot commented on #173
@jcantrill
Thank you for your reply!

I looked at the SG logic.
![es跨机房](https://user-images.githubusercontent.com/329265/56120604-09c83580-5fa1-11e9-91f3-0e3bdf6d3a73.png)

A picture is worth a thousand words.

As is shown in the picture.After plugin sync ACL to ES, but before SG query ACL from ES. the timed task on ES Master (the plugin) may  delete expire ACL.There is a certain probability that

[2019-04-16 12:43] jcantrill commented on #173
Note this is where I mentioned we hook into the flow to process pre-SG and post-SG; I'm not sure your picture accurately reflects this logic but it's important to understand.  In regards to expiration, there is a possibility the ACL will expire but it depends on the timestamp for a specific role and mapping block.  I would not expect the permissions for a given user during a given request to expir

[2019-05-06 10:37] Gallardot opened #177 "kibana IndexPattern disable project uid"
The tribes feature allows a tribe node to act as a federated client across multiple clusters.
The general network topology is as follows:
![es](https://user-images.githubusercontent.com/329265/57218281-85108a80-7027-11e9-8292-96fd60aaff5c.png)

We have Multiple openshift-elasticsearch clusters.
We want to query app logger in any one kibana. The network topology is as follows.

![oses](https://user

[2019-05-07 02:31] richm commented on #177
How do you know that all users in project X in cluster A can view all of the logs in project X in cluster B?

[2019-05-08 09:04] Gallardot commented on #177
![oses](https://user-images.githubusercontent.com/329265/57218300-8f328900-7027-11e9-91b4-44209ca5fa5b.png)

We built the above system architecture.
The system information is as follows:
[code]
The tribe node also use origin-logging-elasticsearch5:v3.11.0.

We sync the Secrets "logging-curator"、"logging-elasticsearch"、"logging-fluentd"、"logging-kibana" from Cluster A to Cluster B.

We create the s

[2019-05-08 18:43] jcantrill commented on #177
This UUID was introduced into the index pattern because there were cases where searches would match both a live project and deleted project as represented in ES.  There is no way to guarantee a user had access to the logs from the deleted namespace and the query result would return 403 leaving a confused user.  One way you could resolve your particular issue is to introduce configuration and a str

[2019-05-09 06:09] Gallardot commented on #177
@richm @jcantrill
I have post a pr #178

I do some test on our cluster.
*    **First Step**:
The user has permissions for project X and project Y.
Show on the kibana like as follows:
![11_16_38__05_09_2019](https://user-images.githubusercontent.com/329265/57430296-cc825b00-7261-11e9-975e-908d53c0c1de.jpg)

*    **Second Step**:
If we remove the user's permissions for  project Y  through openshift.

[2019-05-09 13:20] jcantrill commented on #177
I think the path you are going down is making it more complicated by adding conditionals where not needed.  This https://github.com/fabric8io/openshift-elasticsearch-plugin/blob/master/src/main/java/io/fabric8/elasticsearch/plugin/kibana/KibanaUtils.java#L110 file controls the formatting.  Why not inject a strategy for formatting the pattern into the util which is already used else where?  Our def

[2019-05-28 19:09] richm commented on #173
@Gallardot - there is a PR to reimplement caching from @jcantrill - https://github.com/fabric8io/openshift-elasticsearch-plugin/pull/179 - would you be able to review/test that PR to see if it solves your problem?

[2019-06-03 12:21] kacper-jackiewicz opened #180 "Searchguard properties not exists in elastic context"
I've encountered a problem with configuring the plugin for password different than default for searchguard keystore/truststore on image ose-logging-elasticsearch5:v3.11.98

[code]
`java.lang.IllegalArgumentException: unknown setting [openshift.searchguard.keystore.password] did you mean any of [openshift.searchguard.keystore.path, openshift.searchguard.truststore.path]?`

Same error for trustore p

[2019-06-03 12:46] jcantrill commented on #180
This is a documentation error as the  'openshift.searchguaurd' key and trust store settings are no longer used.  Authentication is strickly either bearer token or certificate based where the trust and keystore config is here: https://github.com/openshift/openshift-ansible/blob/release-3.11/roles/openshift_logging_elasticsearch/templates/elasticsearch.yml.j2#L47

Marking this as a bug to clean up t

[2019-06-05 07:28] Gallardot commented on #173
@richm OK, I will do it at this weekend.

[2020-01-02 14:49] jcantrill commented on #116
Closing as we are unlikely to add this feature.

[2020-01-02 14:49] #116 closed

[2020-09-09 20:31] MastanaGuru opened #194 "How can we grant all non-cluster-admin-users access to index pattern project.*"
I am creating some generic dashboards which uses index-pattern project.* But since users have access to only their projects, a user has to build a dashboard for each of their project. In OCP 3.11, how can we grant project.* access to all non-cluster-admin users or access to all projects starting with project.es-* ?

[code]

[2020-11-17 12:10] StribPav opened #196 "Service account connect to his elasticsearch log."
Can you tell me what rights you need to give the user
(ServiceAccount) so that he has access to the logs of his project in Openshift-logging.
![Diagram Connection](https://user-images.githubusercontent.com/12084765/99388689-a4f06200-28de-11eb-9797-8623a6cf97da.png)

[2020-12-23 12:55] #196 closed, assigned to nobody

[2022-04-14 11:31] #173 closed

[2022-04-14 11:31] #177 closed